<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <a class="navbar-brand mr-5 ml-5" href="#">Angular minds</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav navbar-brand">
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/dashboard">Dashboard </a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link"  routerLink="/question">Question</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link"  routerLink="/test">Test</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link"  routerLink="/report">Report</a>
      </li>
      <li class="nav-item mr-3">
        <a class="nav-link" routerLink="/setting">Setting</a>
      </li>
      <li >
        <div *ngIf="isLogin" class="nav navbar-nav navbar-right">
          <a class="nav-link"  (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
   



