
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <h2>Questions</h2>
        <div class="col">
            <button class="btn btn-primary btn-lg float-right" id="addquestions" routerLink="/addquestion">+Add Questions</button>
        </div>
      </div>
    </div>
  </nav>
  <form >
    <div class="menu">
      <div id="pages">
        <label style="margin-right: 5px;"><span><input type="checkbox"></span> Show</label>
        <select class="btn btn-light dropdown-toggle" (change)="select($event)">
            <option  *ngFor="let questionCount of questionCountArray" [ngValue]="questionCount">{{questionCount}}</option>     
        </select>
        <label for="cars">Records per Page</label>
      </div>
      <div> <input type="text" placeholder="Search.." name="search" [(ngModel)]='searchBox' (keyup)="search()">
        
      </div>
      <div>
        <select class="btn btn-light dropdown-toggle" (change)="selectTopic($event)" >
            <!-- <option selected value="topic">Choose topic </option> -->
            <option *ngFor="let topic of topic" [ngValue]="topic">{{topic.name}}</option>
            </select>
      </div>
    </div>
    <br><br>
    
  </form>

  <!-- <ul class="table">
    <tbody>
      <tr *ngFor="let question of questionTopic; let i=index">
        <td>{{question.questionText}}</td>
        <td>
          <tr *ngFor="let opt of questionTopic[i].options">
          <td type="radio">{{opt.option}}</td>
          </tr>
        </td>
      </tr>
    </tbody>
  </ul> -->

  <ul *ngFor="let question of questionTopic | filter : searchBox; let i=index ; " >
    <li><span style="margin-right: 3px;"><input type="checkbox"></span>{{question.questionText}}</li>
      <ul *ngFor="let opt of questionTopic[i].options">
        
        <div *ngIf="questionTopic[i].type === 'MULTIPLE CHOICE';else other_content">
          <input type="radio" name="option1"  value="">
          {{opt.option}}
      </div>
      
      <ng-template #other_content>
        <input type="checkbox" name="option1"  value="">
          {{opt.option}}
      </ng-template>
      </ul>
      <small>
        <span>
          <button (click)="edit(questionTopic[i]._id)">edit</button>
          <a >delete</a>
        </span>
      </small>
  </ul>
  