<div class="container">
    <div>
        <h1>Edit Question</h1>
    </div>
    <form [formGroup]="AddForm" (ngSubmit)="onSubmit()"> 
        <div class="row form-group">
            <div class="col">
                <label for="select subject">select subject</label>
                <select class="form-select col-6 " id="inputGroupSelect04" aria-label="Example select with button addon" formControlName="subject" (change)="subject($event)">
                    <option *ngFor="let subject of subjectArray" [value]="subject._id" >{{subject.name}}</option>
                    
                  </select>
            </div>
            <div class="col">
                <label for="select topic">select topic</label>
                <select class="form-select col-6" id="inputGroupSelect04" aria-label="Example select with button addon" formControlName="topic">
                    <option *ngFor="let topic of topicArray" [value]="topic._id">{{topic.name}}</option>
                    
                  </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Question Type">Question Type</label>
                <select class="form-select col-6" id="inputGroupSelect04" aria-label="Example select with button addon" formControlName="type" (change)="changeType($event)">
                    <option *ngFor="let qtype of questionType">{{qtype}}</option>
                    
                  </select>
            </div>
            <div class="col">
                <label for="Difficulti Level">Difficulti Level</label>
                <select class="form-select col-6"  formControlName="diffLevel" >
                <option [ngValue]="null" >choose</option>
                    <option *ngFor="let difficulty of difficultyLevel" [ngValue]="difficulty"> {{difficulty}}</option>
                  </select>
            </div>
            <div class="col">
                <label for="Right Mark">Right Mark</label>
                <input type="number" class="form-control" id="Right Mark" placeholder="Type to search..." value='1' formControlName="rightMarks">
            </div>
            <div class="col">
                <label for="Wrong Mark">Wrong Mark</label>
                <input type="number" class="form-control" id="Wrong Mark" placeholder="Type to search..." value="0" formControlName="wrongMarks">
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                <label for="Question">Question</label>
                <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5" formControlName="questionText"></textarea>
            </div>
        </div>
    
        
     
            <div formArrayName="options" class="option">  
                <div colspan="2">Add Multiple Quantity:</div>  
                
              <div *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i"> 
             <div class="row">
                <div class="col">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend"> 
                      
                        <div class="input-group-text" *ngIf="optionType === 'MULTIPLE RESPONSE'; else checkbox">
                            <input type="checkbox" id="{{i}}" aria-label="Radio button for following text input" style="margin-right: 5px;" name="isCorrect" formControlName="isCorrect" [value]=true> 
                            <span class="form-check-label">option {{i+1}}</span>
                        </div>

                        <ng-template #checkbox>
                            <div class = "input-group-text">
                                <input type="radio"  id="quantity.isCorrect{{i}}" aria-label="Radio button for following text input" style="margin-right: 5px;" name="isCorrect" formControlName="isCorrect" [value]=true (change)="onChange(i)"> 
                                <span class="form-check-label">option {{i+1}}</span>
                          </div>
                      </ng-template>
                      </div>
                      <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="1" formControlName="option"></textarea>
                    </div>
                    <button (click)="removeQuantity(i)">remove option</button>
                </div>
            </div>      
              </div>  
            </div>  
            <div width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">Add More</button></div>  
      
            <button type="submit" class="btn btn-success">Submit</button>  
              
          </form> 
    
</div>

{{AddForm.value | json}}